@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600&display=swap");
/* html {
  font-family: "Slabo 27px", serif;
} */

.bgWrap {
  background-image: url("/images/save.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: top;
  height: 90vh;
}
